doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    link(href="css/style.css" rel="stylesheet" type="text/css")
    title 花咲か爺さん
  body
    div#container.vertical
     h1.p-s-03 花咲か爺さん
     p.p-v-02 むかしむかし、やさしいおじいさんとおばあさんがおりました。ある日、おじいさんが家の前で小さな畑をたがやしていると、隣からいじわるじいさんの大きな声がしました。「こら！人の畑に入りやがって！！」「わん！わん！」逃げてきた子犬をおじいさんがだきあげると、となりのじいさんが追いかけてきて言いました。「その子犬は、おらの畑をあらしよったんじゃ。こっちへよこせ！」子犬はおじいさんのうでの中でぶるぶるふるえています。「わしにめんじてゆるしてやってけれ。」「こんど入ったら、かならずぶったたいてやるからな。」となりのじいさんは、おこっていってしまいました。こうして、やさしいおじいさんとおばあさんは、このこいぬをシロと名付けて大事に飼うことにしました。ある日のこと、シロはおじいさんを引っぱって、うらやまにのぼっていきました。山のてっぺんまでくると、シロは、「ここほれ、わんわん。ここほれ、わんわん。」と、ほえるのでした。おじいさんは、ふしぎに思いましたが、いわれたとおりほってみました。土をほると、なにやらくわにぶつかるものがありました。「こ、これは。こ、こ、こばんじゃあ。」おじいさんはたくさんのこばんを手に入れました。ところが……そこへ、となりのいじわるじいさんとばあさんがやってきました。二人は、こばんの山を見てしまったのです。おじいさんに、うらやまでこばんをほった話を聞くと、いやがるシロを、むりやり引っぱっていってしまいました。あくる日、シロを引きずって、よくばりじいさんはcうらやまへのぼっていきました。そして、シロが力つきてたおれたそのばしょをここだとばかりにほると、くわになにかかたいものがあたりました。「出た、出たぞ！・・・こばんだ！・・・・ん？？」こばんだと思って、よろこんで手にしたとたん、よくばりじいさんはこしをぬかしました。出てくるは、出てくるは。へびや化けものが、ぞろぞろ、ぞろぞろ。「よくも、ひどいめにあわせたなっ。」おこったとなりのじいさんは、とうとう、シロを殺してしまいました。やさしいおじいさんとおばあさんは心からかなしんで、シロの墓を立てて、そのそばに小さな木をうえました。するとふしぎ。その木はずんずん大きくなって、ひとかかえもする大きな木になりました。ある日、二人がお花をそなえようと、墓までやってきて、その大木を見上げておりました。すると、その木が、なにか言っているようでした。「うすにして、うすにして……。」二人は、シロの木の言うとおり、その木でうすを作ることにしました。「うん、そうじゃ。シロはもちが好きじゃった。もちをついてそなえてやろうかのう。」おじいさんとおばあさんは、できあがったばかりのうすで、もちをつきはじめました。「ほいしょ。」「あいよ。」ぺったん、ぺったん。おじいさんとおばあさんは、なかよくもちをつきます。うすの中のもちが光りだしました。「あら、おじいさん。なんでしょう。」「はやー、ふしぎなもちじゃ。」おじいさんとおばあさんは、光るもちを取り出して、ちぎって小さく丸めます。すると、もちがぴかぴか光りだしたではありませんか。「こ、こばんじゃあ！」そこへまた、となりのよくばりじいさんが顔を出して言いました。「どうじゃ、わしにうすをかさんか。」「これは、シロのかたみじゃから。」と、おじいさんが言うのもおかまいなしに、となりのじいさんとばあさんは、うすを持っていってしまいました。
    div#target
     p こんにちは
     div#rect
    div#target2
    script(src="js/bundle.js")