doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    link(href="css/style.css" rel="stylesheet" type="text/css")
    title 花咲か爺さん
  body
    div#title
     h1 花咲か爺さん
    div#story.p-v-03
     p#hanasaka.p-s-04
      span.txt
       | むかしむかし、あるところに、おじいさんとおばあさんが住んでいました。
       br
      span.txt
       | 二人は子どもがいなかったので、シロというイヌをとてもかわいがっていました。
       br
      span.txt
       | ある日、シロが畑でほえました。
       br
      span.txt
       | 「ここほれワンワン、ここほれワンワン」
       br
      span.txt
       | 「おや？ ここをほれと言っているのか。よしよし、ほってやろう」
       br
      span.txt
       | おじいさんがほってみると、
       br
      span.txt
       | 「ややっ、これはすごい！」
       br
      span.txt
       | なんと、地面の中から大判小判がザクザクと出てきたのです。
       br
      span.txt
       | この話を聞いた、となりの欲ばりじいさんが、
       br
      span.txt
       | 「わしも、大判小判を手に入れる。おめえのシロを、わしに貸してくれや」
       br
      span.txt
       | 欲ばりじいさんは、シロを無理矢理畑に連れて行きました。
       br
      span.txt
       | そして、いやがるシロがキャンキャンないたところをほってみると、くさいゴミがたくさん出てきました。
       br
      span.txt
       | 「この役立たずのイヌめ！」
       br
      span.txt
       | 怒ったよくばりじいさんは、なんと、シロを殴り殺してしまったのです。
       br
      span.txt
       | シロを殺されたおじいさんとおばあさんは、なくなく、シロを畑にうめてやると
       br
      span.txt
       | 棒(ぼう)を立ててお墓を作りました。
       br
      span.txt
       | 次の日、おじいさんとおばあさんがシロのお墓参りに畑へ行ってみると、シロのお墓の棒が
       br
      span.txt
       | ひと晩のうちに大木になっていたのです。
       br
      span.txt
       | おじいさんとおばあさんは、その木で臼(うす)を作って、おもちをつきました。
       br
      span.txt
       | すると不思議な事に、もちの中から宝物がたくさん出てきました。
       br
      span.txt
       | それを聞いた、欲ばりじいさんは、
       br
      span.txt
       | 「わしも、もちをついて宝を手に入れる。おめえの臼を、わしに貸してくれや」
       br
      span.txt
       | と、臼を無理矢理かりると、自分の家でもちをついてみました。
       br
      span.txt
       | しかし、出てくるのは石ころばかりで、宝物は出てきません。
       br
      span.txt
       | 「いまいましい臼め！」
       br
      span.txt
       | 怒った欲ばりじいさんは、臼をオノでたたきわると、焼いて灰にしてしまいました。
       br
      span.txt
       | 大切な臼を焼かれたおじいさんは、せめて灰だけでもと、臼を焼いた灰をザルに入れて持ち帰ろうとしました。
       br
      span.txt
       | その時、灰が風に飛ばされて、枯れ木にフワリとかかりました。すると、どうでしょう。
       br
      span.txt
       | 灰のかかった枯れ木に、満開の花が咲いたのです。
       br
      span.txt
       | おじいさんは、うれしくなって。「枯れ木に花を咲かせましょう。パアーッ」
       br
      span.txt
       | と、いいながら、次々に灰をまいて、枯れ木に美しい花を咲かせました。
       br
      span.txt
       | ちょうどそこへ、お城のお殿さまが通りかかりました。
       br
      span.txt
       | 「ほう、これは見事じゃ」
       br
      span.txt
       | お殿さまはたいそう喜んで、おじいさんにたくさんのほうびをあげました。
       br
      span.txt
       | それを見ていた欲ばりじいさんが、
       br
      span.txt
       | 「おい、わしも花を咲かせてほうびをもらう。その灰を、わしによこせ！」
       br
      span.txt
       | 無理矢理に灰を取り上げると、お殿さまに言いました。
       br
      span.txt
       | 「殿さま、この灰はわしの物です。わしが枯れ木に花を咲かせますから、わしにもほうびを下さい。バァーッ！」
       br
      span.txt
       | 欲ばりじいさんは、殿さまの前でたくさん花を咲かせようと、灰をいっせいにまきました。
       br
      span.txt
       | すると灰がお殿さまの目に入って、
       br
      span.txt
       | ばりじいさんはお殿さまの家来にさんざん殴られたということです。
       br
    div#footer
    script(src="js/bundle.js")