doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    link(href="css/style.css" rel="stylesheet" type="text/css")
    title 花咲か爺さん
  body
    div#container
     h1 こんにちは
     p ありがとうございました
    div#target
     p こんにちは
     div#rect
    div#target2
    script(src="js/bundle.js")